global:
  resolve_timeout: 5m

route:
  receiver: "default"
  group_by: ["alertname", "job"]
  group_wait: 10s
  group_interval: 1m
  repeat_interval: 4h

receivers:
- name: default
  # (optional) put something here, or keep as a sink receiver
  # webhook_configs: []

